@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark-grey: #171717;
  --color-grey: #373737;
  --color-white: #ffffff;
  --color-blue: #aec5eb;
}

h1 {
  line-height: 1.2;
}
h2 {
  font-size: 4rem;
}

p {
  font-size: 0.6rem;
  line-height: 1.5;
}

.sub-text {
  max-width: 30%;
  text-align: center;
}

body {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  font-family: 'Press Start 2P', cursive;
}

.lines__wrapper {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.lines__wrapper aside {
  position: absolute;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 1px;
  height: 100%;
  background-color: var(--color-grey);
}

.lines__wrapper aside:first-child {
  left: 0%;
  transform: translate(1.5rem, 0);
}

.lines__wrapper aside:last-child {
  right: 0%;
  transform: translate(-1.5rem, 0);
}

::selection {
  background: var(--color-blue);
}

/* ==========================================================================
   Header section
   ========================================================================== */

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;

  align-items: center;
  padding: 0 1.5rem;
  width: 100%;
  height: 3rem;
  z-index: 999;
  background-color: var(--color-dark-grey);
  border-bottom: 1px solid var(--color-grey);
}

.nav__logo {
  font-size: 1.3rem;
}

.nav__logo a {
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 0;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  gap: 1.5rem;

  list-style: none;
}

nav ul li {
  font-size: 1.3rem;
  z-index: 9999;
}

nav ul li label {
  cursor: pointer;
}

nav ul li input[type='checkbox'] {
  display: none;
}

header:has(input[type='checkbox']:checked) .nav__menu {
  /* display: block; */
  width: 100%;
}

.nav__menu {
  /* display: none; */
  position: fixed;
  inset: 0;
  width: 0%;
  overflow: hidden;
  z-index: 9998;
  background: var(--color-blue);
  transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav__menu ul {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.nav__menu ul li {
  font-size: 4rem;
}

nav ul li a {
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 0;
}

/* ==========================================================================
   Main section
   ========================================================================== */

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 0 1.5rem;
  width: 100%;
  height: 100%;
}

.section__jumbo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  padding-top: 10rem;
  gap: 2rem;
}

.section__jumbo h1 {
  font-size: 7rem;
  text-align: center;
}

.section__banner {
  position: relative;
  z-index: 10;
  height: 30rem;
  padding: 1.5rem;
}

.section__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section__banner article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: absolute;
  bottom: 4rem;
  left: 4rem;
}

.section__banner article p {
  line-height: 1.3;
  font-size: 0.6rem;
}

.section__work {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.section__work h2 {
  margin-bottom: 2rem;
}

.work__list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.work__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 10rem;
  list-style: none;
  border: 1px solid var(--color-grey);
  padding: 1rem;
  transition: 0.3s;
}

.work__list li:hover {
  background: var(--color-blue);
}

.work__list li a {
  font-size: 1.5rem;
  color: var(--color-white);
  text-decoration: none;
}

.detail__main {
  min-height: 100vh;
}

/* .topics {
  background-color: var(--color-blue);
} */

/* ==========================================================================
   Footer section
   ========================================================================== */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  margin-left: 3rem;
  margin-right: 3rem;
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

footer h2 {
  font-size: 3rem;
  width: 60%;
  text-align: center;
  line-height: 1.3;
  margin-top: 5rem;
}

.btn {
  margin-bottom: 5rem;
  color: var(--color-white);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 0.6rem;
  border: 2px solid var(--color-blue);
}
.btn:hover {
  background: var(--color-blue);
  transition: 0.2s;
}

/* ==========================================================================
   Sub Footer section
   ========================================================================== */

.sub__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sub__footer ul {
  display: flex;
  gap: 2rem;
}

.sub__footer li {
  list-style: none;
  font-size: 0.5rem;
}

.sub__footer li a {
  padding: 1rem 0;
}

.sub__footer a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 0.5rem;
  padding: 1rem 0;
}
